* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 1px solid white;
}

html {
    background-color: darkgray;
}

img {
    display: inline;
    height: 100vh;
    width: 405px;
}

.test {
    display: inline;
}
